#settings li {
    list-style: none;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    font-size: 25px;
    font-weight: bold;
    background-color: #091842;
    width: 250px;
    padding: 2vw;
    border-radius: 5px;
}

.eve {
    font-size: 15px;
    font-weight: bold;
    background-color: #091842;
    width: 250px;
    padding: 2vw;
    margin: 10px;
    border-radius: 5px;
    width: 90%;
    height: 86%;

}

.eve h4 {
    font-size: 20px;

}

.eve h3 {
    font-size: 25px;
    margin-top: 5px;

}

a {
    text-decoration: none;
    color: white;
}

main {
    min-height: 500px;
}

#modes {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    justify-content: center;
}

/*grid things*/
main {
    display: grid;
    grid-template-columns: 250px 250px auto auto;
    grid-template-areas:
        "set set con con";
}

#settings {
    grid-area: set;
    min-height: 577px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0px;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    background-color: white;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: white;
}

#content {
    grid-area: con;
    background-color: white;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80%;
    height: 97%;
    border-color: white;
}

/*grid things stop*/