body {
    height: 800px;
}

#settings li {
    list-style: none;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    font-size: 25px;
    font-weight: bold;
    background-color: #000000;
    width: 250px;
    padding: 2vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#settings li:hover {
    background-color: #b453ff;
    color: #fff;
}

.eve {
    font-size: 15px;
    font-weight: bold;
    background-color: #000000;
    width: 250px;
    padding: 2vw;
    margin: 20px;
    border-radius: 5px;
    width: 87%;
    height: 83%;

}

.eve h4 {
    font-size: 20px;

}

.eve h3 {
    font-size: 25px;
    margin-top: 5px;

}

a {
    text-decoration: none;
    color: #ffffff;
}


#modes {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

/*grid things*/
main {
    display: grid;
    grid-template-columns: 250px 250px auto auto;
    grid-template-areas:
        "set set con con";
}

#settings {
    grid-area: set;
    min-height: 585px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 0px;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    background-color: #121829;
    color: #ffffff;
    border-radius: 5px;
    border-color: #121829;

}

#content {
    grid-area: con;
    background-color: #121829;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80%;
    height: 97%;
    border-color: #121829;
}

/*grid things stop*/