/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #121829;
}

#logo img {
    width: 100px;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;

    justify-content: space-between;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}