/*this document is for things every page needs, like header and footer*/

#logo img {
    width: 80px;
    height: auto;
    display: block;
}

ul {
    list-style: none;
    display: flex;

}



header {
    width: 100%;
    background: black;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
}

nav {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* This ensures nav links wrap on smaller screens */
    gap: 1rem;
    /* This adds space between links */
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Arial', sans-serif;


}