/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 20vw;
    margin: 15px;
    margin-left: 8vw;
    margin-right: 12vw;
}

body {
    background-color: #354571;
    color: white;
    min-height: 100vh;
}

/*grid things*/
.product-container {
    display: grid;
    grid-template-columns: auto 40vw;
    grid-template-areas:
        "image info"
    ;
}

#product-image {
    grid-area: image;
}

#product-info {
    grid-area: info;
}

/*grid things*/

#product-header {
    align-items: center;
    gap: 20px;
}

#product-header img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

#product-info {
    flex-grow: 1;
}

#product-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2vw;
}

#product-price {
    font-size: 20px;
    font-weight: bold;
    color: #00aaff;
    margin: 10px 0;
}

#price {
    margin-top: 15vw;
}

#product-description {
    margin-top: 15px;
    font-size: 16px;
}

.reviews-section {
    margin-top: 3vw;
    margin-bottom: 5vw;
}

#buy-now {
    display: block;
    width: 50%;
    padding: 12px;
    margin-top: 20px;
    text-align: center;
    background: #00aaff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

#buy-now:hover {
    background: #0088cc;
}

.spinner {
    display: none;
    /* Hidden by default */
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #00bfff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}