/* General Styles */
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #381891, #710675);
    color: #ffffff;
    min-height: 600px;
}

main {
    flex: 1;
}

/* Hero Section */
.hero {
    height: 49vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    background-size: cover;
    background-position: center;
    padding: 110px 40px;
    background: linear-gradient(to right, #00172d, #004080);
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b453ff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

.btn:hover {
    background-color: #00d4ff;
    color: #fff;
}

body.light-mode .btn {
    color: rgb(255, 255, 255);

}

/* Slideshow dots */
.slideshow-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}